<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.epicodus.muscore">

    <uses-permission android:name="android.permission.INTERNET" />


    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->


    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".MenuActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.muscore.ui.LoginActvivity"></meta-data>


        </activity>

        <activity android:name=".ui.LoginActvivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.muscore.ui.MusiqActivity"></meta-data>


        </activity>

        <activity android:name=".ui.CreateAccountActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.muscore.ui.LoginActvivity"></meta-data>


        </activity>

        <activity android:name=".ui.MusiqActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.muscore.ui.SongsActivity"></meta-data>


        </activity>


        <activity android:name=".ui.SongsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >

            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.epicodus."></meta-data>-->

        </activity>
        <service android:name="com.epicodus.MusicService" />

        <activity android:name=".MainActivity">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.muscore.MenuActivity"></meta-data>


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>